
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");


/* CSS for hiding the element in mobile devices */
@media (max-width: 767px) {
    .hide-on-mobile {
      display: none;
    }
  }
  

  body{
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--body-background-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

