
#distribution-info {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1f1f1f; /* Slightly lighter background color */
    padding: 20px;
    box-shadow: 0px 0px 10px 2px #000000; /* Darker box shadow */
    border-radius: 5px;
}

h1 {
    font-size: 40px;
    color: #e0e0e0; /* Light text color */
}

h2 {
    font-size: 20px;
    color: #b0b0b0; /* Slightly lighter text color */
}

p {
    font-size: 16px;
    color: #c0c0c0; /* Slightly lighter text color */
    line-height: 1.6;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

ul li {
    margin: 5px 0;
}